/* Styles for the navigation bar */
.nav {
  width: 100%;
  padding: 10px;
  box-shadow: 1px 1px 15px #4c0e72;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-size: 24px;
  font-weight: bold;
  background-color: #8e44ad;
  color: #fff;
  text-align: center;
}

/* Styles for the body */
body {
  padding-top: 70px;
  background-color: #f1f1f1;
}

h1 {
  padding-left: 20px;
  color: #333;
}

#note {
  margin: 20px;
  width: 94%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Styles for the buttons */
.btn {
  background-color: #8e44ad;
  color: #2b0f87;
  padding: 10px;
  margin: 20px auto;
  width: 150px;
  text-align: center;
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.list_ele {
  margin: 20px;
  padding: 10px;
  box-shadow: 1px 1px 15px #ddd;
  background-color: #fff;
}

.list_ele h1 {
  margin-bottom: 5px;
  font-size: 20px;
}

.list_ele p {
  margin-top: 5px;
  font-size: 16px;
}

.list_ele button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.note_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.note_title label {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #050101;
    color: white;
  }
}

/* Media query for light mode */
@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }
}

#toggle-dark-mode {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

#toggle-dark-mode:hover {
  background-color: RoyalBlue;
}

/* Styles for the header actions */
.header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.header-actions p,
.header-actions button {
  margin-left: 10px;
}

/* Styles for the note buttons */
.note_buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Increased the gap between buttons */
}

.note_buttons button {
  background-color: DodgerBlue;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.note_buttons button:hover {
  background-color: DodgerBlue;
}

/* Additional styles for the new buttons */
#backup-btn,
#restore-btn,
#btn {
  background-color: DodgerBlue;
}

/* New styles for the rightmost "Save" button */
#btn {
  margin-right: 20px;
}

/* Styles for the Quill drop zone */
.quill-drop-zone {
  padding: 20px;
  border: 2px dashed #140101;
  border-radius: 5px;
  text-align: center;
  color: #0a0000;
  background-color: #0b0a0a;
  font-size: 16px;
  cursor: pointer;
}


#import-btn,
#export-btn,
#share-btn
#btn {
  background-color:DodgerBlue;
}